.card {
    margin-top: 2%;
    .card-title {
        color: white;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 17px;
    }
    .card-header {
        background: #858A90;
    }
}

.table, .table tr, .table td, .table th {
    border: none;
}
